<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='/styles/registration.css')}}">
	<title>Регистрация</title>
</head>
<body>
	<div class="container">

		<img src="{{url_for('static', filename='/styles/logo.png')}}" class="logo">

		<span class="welcome">Добро пожаловать</span>

		<div class="registration-title">РЕГИСТРАЦИЯ</div>

		<form action="/reghandler" class="registration" method="POST">
			<input type="text" placeholder="ЭЛ.ПОЧТА" class="email" name="email">
			<input type="text" placeholder="ЛОГИН" class="login" name="login">
			<input type="password" placeholder="ПАРОЛЬ" class="password" name="password">
			<input type="password" placeholder="ПОВТОРИТЕ ПАРОЛЬ" class="repassword" name="repassword">
			<input type="button" class="submit-button" value="ВОЙТИ">
		</form>

		<a href="/auth" class="auth">Уже зарегистрирован</a>

		<script type="text/javascript" src="{{url_for('static' ,filename='/scripts/registration.js')}}"></script>

	</div>
</body>
</html>